# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
.env/
.venv/
env/
venv/

# Python packaging
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Lambda deployment packages
lambda_deploy_package.zip
*.tar.gz

# Terraform files
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
*.tfplan
*.tfvars

# AWS credentials (just in case)
*.pem
*.key
*.crt
.aws/

# VS Code settings
.vscode/

# macOS / Windows system files
.DS_Store
Thumbs.db
desktop.ini

# Log files
*.log

output/